
        body{
            background-color: lightcyan;
            color: blueviolet;
            margin-left: 30px;
            margin-right: 30px;
        }

        h3 {
            text-align: center;
            color: darkred;
            font-size: 30px;
        }

        hr {
            border: 5px solid yellow;
        }

        span {
            color: blue;
            font-size: 20px;
        }
